services:
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile
      target: development
    container_name: gwid-core-dev
    volumes:
      - .:/app
      - go-modules-cache:/go/pkg/mod
      - go-build-cache:/root/.cache/go-build
    ports:
      - 5000:5000
    environment:
      - GO111MODULE=on
      - CGO_ENABLED=0
    working_dir: /app
    command: make dev
    networks:
      - app-network

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: gwid
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

volumes:
  go-modules-cache:
  go-build-cache:
  postgres_data:

networks:
  app-network:
    driver: bridge
